TRUSTED_PROXY_IPV4=127.0.0.1
TRUSTED_PROXY_IPV6=::1
BACKEND_PORT=Y0UR_BACKEND_PORT
FILE_PATH=PATH TO FOLDER WHERE SERVER WILL SAVE A FILES
ADMIN_LOGIN=ADMIN LOGIN
ADMIN_PASSWORD=ADMIN PASSWORD
DSN=DATA SOURCE (EXAMPLE: postgresql://scott:tiger@localhost:5432/mydatabase)
MODE=full (REST API + FRONTEND) / api (REST API ONLY)